{% extends 'layout.twig' %}

{% block body %}
<h1>Valeur lue</h1>
<p>Mesure : <span id="mesure-lue"><small>Loading</small></span></p>
<p>Enregistrement : <span id="enregistrement"><small>Loading</small></span></p>
<form action="/api/toggle" method="post" id="toggle-form">
    <button type="submit" class="btn btn-success" id="toggle-button">Démarrer</button>
</form>
<textarea class="mt-3" id="logger" cols="30" rows="10" readonly placeholder="Pas de données à afficher"
    style="resize:none"></textarea>
{% endblock %}