h1 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
} 

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

th {
    font-size: 1.5rem;
}

.display-result {
    font-size: 2rem;
}

.concealed {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    #logger-card {
        display: none;
    }
}